head
  link(rel="stylesheet" type="text/css" href="/css/front.css")
  link(rel="stylesheet" type="text/css" href="/css/logged.css")
body
  div#header
    h1#title LocateIt
  div#mainArea
    block content
